/* containers */
main {
    position: relative;
}

.outer {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 4rem;
}

.flex {
    display: flex;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.is-spaced-between {
    justify-content: space-between;
   

}
.card {
    margin-top: $padding;
    padding: 0 $padding/2;

    p {
        text-align: left;
        letter-spacing: 0.05em;
    }

}



/* responsive images */
img {
    width: 100%;
    height: auto;
}

links and lists
ul {
    list-style: none;
    margin: 0;
    padding: 0;
} 

a {
    text-decoration: none;
}

.page-anchor {
    position: absolute;
    top: 0;
}

/* hover green light */
.hover-green-light:link, .hover-green-light:visited {
    color: $highlight;
    transition: 0.35s;
}

.hover-green-light:hover {
    color: $primary-light;
    background-color: $hover-light;
    transition: 0.1s;
}

.hover-green-light:active {
    background-color: $active;
    color: $highlight;
}

/* hover green dark text */
.hover-green-dark {
    transition: 0.35s;
}

.hover-green-dark:hover {
    background-color: $hover-dark;
    color: $primary-dark;
    transition: 0.1s;
}

.hover-green-dark:active {
    color: $primary-light;
    background-color: $active;
}

/* divider */
hr {
    border: none;
    height: 1px;
    color: $secondary-dark;
    background-color: $secondary-dark;
    margin: 4rem 1rem;
}

.divider {
    position: relative;
    top: $nav-height;
    margin: 0 1rem;
}

/* table */
table {
    overflow-x: auto;
}
table, th, td {
    border: 1px solid $secondary-dark;
    border-collapse: collapse;
}

th, td {
    padding: 4px;
}

/* text */
.text-centered {
    text-align: center;
}

/* hidden elements */
.hidden {
    position: absolute;
    font-size: 0px;
    left: -700000px;
    margin: 0;
    padding: 0;
}