#google_search_console {
	/* individual slides */
	.slide {
		border-bottom: 1px solid $secondary-dark;
		width: 100%;
		padding: $padding;
	}

	/* lists */
	main {
		
	ul {
		list-style: disc;
	}
	}

	/* links */
	.action-minor {
		display: block;
		margin-top: 1em;
	}
	/* images */
	.img-med {
		width: 100%;
		max-width: 500px;
	}

	.img-lg {
		max-height: 70vh;
	}

	

	@media (max-width: 768px) {
		dt, dd {
			width: 100%;
			margin-right: 0;
		}
	}

	/* panel */
	.panel {
		display: flex;
	}

	@media (max-width: 768px) {
		.panel {
			flex-wrap: wrap;
		}
	}



}
