

/* laptop rules */

@media (min-width: 769px) {
  
    .outer {
        max-width: 80vw;
    }
    .card {
        margin: $padding;
    }
    //create column grids
    @for $i from 1 through 12 {
        .col-#{$i} {
            width: 100%/12 * $i;
        }
    }
    // full width pages
    .row {
        width: 100%;
        margin: auto;
    }
    /* nav rules */
    nav {
        .nav-list {
            min-width: 400px;
            max-width: 1400px;
            display: flex;
            justify-content: space-evenly;
        }
        #menu-toggle {
            display: none;
        }
    }
}

/* desktop rules */
@media (min-width: 1824px) {
    .outer {
        max-width: 1400px;
        } 
}


/* mobile rules */

@media (max-width: 768px) {
    nav {
        .nav-list {
            position: absolute;
            top: $nav-height;
            width: 100%;
            padding: $padding;
        }
    }
}